<div class="container py-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div><%= image_tag 'head/signup', class: "mb-3" %></div>
      
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="form-group">
          <%= f.label :名前 %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-sm col-md-5" %>
        </div>
      
        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm col-md-5" %>
        </div>
        
        <div class="form-group">
          <%= f.label :性別： %>
          <%= f.radio_button :gender, :女性, checked: "checked" %>
          <%= f.label :gender, "女性", { value: :女性, style: "display: inline-block;"} %>
          <%= f.radio_button :gender, :男性 %>
          <%= f.label :gender, "男性", { value: :男性, style: "display: inline-block;"} %>
        </div>
      
        <div class="form-group">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>（<%= @minimum_password_length %> 文字以上）</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm col-md-5" %>
        </div>
      
        <div class="form-group">
          <%= f.label :パスワード（確認用） %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-sm col-md-5" %>
        </div>
      
        <div class="actions">
          <input type="submit" value="&#xf234; Sign up" class="fas btn btn-sm btn-success mb-3">
        </div>
      <% end %>
      
      <div class="form-group mt-4 ml-5">
        <p>既に登録済みの方</h4>
        <div class=" mt-3 offset-1">
          <%= link_to "こちら", new_user_session_path %>
          <span> からログインしてください。</span>
        </div>
      </div>
    </div>
  </div>
</div>