<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="text-center my-4">
        <%= image_tag 'head/new.gif' %><%= image_tag 'head/group.gif' %></div>
        <%= form_with model:@group, local:true do |f| %>
         <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            <%= f.label :グループ名 %>
            <%= f.text_field :name, autofocus: true, class: "form-control group_name rounded-pill" %>
          </div>
          <div class="form-group">
            <%= f.label :グループ紹介%>
            <%= f.text_area :introduction, autofocus: true, class: "form-control group_introduction rounded-pill" %>
          </div>
          <div class="form-group">
            <input type="submit" value="&#xf1d8; create" class="fas btn btn-sm btn-success rounded-pill">
          </div>
        <% end %>
    </div>
  </div>
</div>