<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <%= render 'users/info', user: current_user %>
    </div>
      
    <div class="col-md-8 offset-md-1 pt-3">
      <div><%=link_to "New Group",new_group_path, class: 'btn btn-sm btn-success' %> | <%=link_to "Group Index",groups_path, class: 'btn btn-sm btn-info' %></div>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>  
            <tr>
              <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.png", class: "rounded-circle" %></td>
              <td><%= link_to user.name, user_path(user.id) %></td>
              <td>follows:  <%= link_to user.followings.count, user_followings_path(user) %> </td>
              <td>followers:  <%= link_to user.followers.count, user_followers_path(user) %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>