<div class="container py-3 px-sm-0">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mx-auto">
      <%= render 'users/info', user: @user %>
    </div>

    <div class="col-md-8 col-lg-8 offset-md-1 pt-3">
      <h3 class="d-inline-block"><%= @user.name %>'s My page&nbsp;</h3>
        <% unless @user.id == current_user.id %>
          <% if current_user.following?(@user) && @user.following?(current_user) %>
          <% if @is_room == true %>
            <%= link_to room_path(@room_id) do %>
              <%= image_tag 'mail1.gif' %>
            <% end %>
          <% else %>
          <table>
            <tr>
              <td>
                <%= form_with model: @room, url: rooms_path, local: true do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <%= button_tag type: :submit, class: "mail" do %>
                    <%= image_tag "mail-s.gif" %>
                  <% end %>
                <% end %>
              </td>
              <td><strong>start DM</strong></td>
            </tr>
            </table>
          <% end %>
          <% end %>
      <% end %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>レビュー</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if @posts.exists? %>
            <% @posts.each do |post| %>
              <tr>
                <td><%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.png", class: "rounded-circle" %></td>
                <td><%= link_to post.title, post_path(post.id) %></td>
                <td>
                <div id="star-rate-<%= post.id %>"></div>
                <script>
                  $('#star-rate-<%= post.id %>').raty({
                    size: 36,
                    starOff: "<%= asset_path('star/off-star.gif') %>",
                    starOn: "<%= asset_path('star/on-star.gif') %>",
                    starHalf: "<%= asset_path('star/half-star.gif') %>",
                    half: true,
                    readOnly: true,
                    score: <%= post.rate %>,
                  });
                </script>
              </td>
                <td><i class="far fa-comment-alt"> <%= post.post_comments.count %></i></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td></td>
              <td>記事はありません</td>
              <td></td>
              <td></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>