<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 pt-3 mx-auto">
      <div class="my-4">
        <%= image_tag 'head/DM.gif' %><%= image_tag 'head/index1.gif' %>
      </div>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>名前</th>
              <th>メッセージ</th>
            </tr>
          </thead>
          <tbody>
            <% @another_entries.each do |entry| %>
            <tr>
              <td>
                <%= link_to room_path(entry.room) do %>
                  <%= attachment_image_tag entry.user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.png", class: "rounded-circle" %>
                <% end %></td>
              <td><%= link_to entry.user.name, room_path(entry.room) %></td>
              <td>
                 <%= Message.find_by(id: entry.room.message_ids.last)&.body %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>