<div class="container py-3 px-sm-0">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <%= render 'users/info', user: current_user %>
    </div>
    
    <div class="col-md-8 offset-md-1 pt-3">
      <div><%= image_tag 'head/time' %><%= image_tag 'head/line' %></div>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th>title</th>
            <th>body</th>
            <th>review</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to user_path(post.user.id) do %>
                <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.png", class: "rounded-circle" %>
              <% end %>
            </td>
            <td><%= post.user.name %></td>
            <td><%= link_to post.title, post_path(post.id) %></td>
            <td><%= post.body[0..15] %></td>
            <td>
              <div id="star-rate-<%= post.id %>"></div>
              <script>
                $('#star-rate-<%= post.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('star/off-star.gif') %>",
                  starOn: "<%= asset_path('star/on-star.gif') %>",
                  starHalf: "<%= asset_path('star/half-star.gif') %>",
                  half: true,
                  readOnly: true,
                  score: <%= post.rate %>,
                });
              </script>
            </td>
            <td><i class="far fa-comment-alt"> <%= post.post_comments.count %></i></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
