<div class="container py-3 px-sm-0">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <%= render 'users/info', user: current_user %>
    </div>
    <div class="col-md-8 offset-md-1 pt-3">
      <table class="table table-hover table-inverse" >
        <tbody>
          <tr>
            <td><%= attachment_image_tag @post.user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.png", class: "rounded-circle" %></td>
            <td><%= @post.title %></td>
            <td><%= @post.body %></td>
            <td>
              <div id="star-rate-<%= @post.id %>"></div>
              <script>
                $('#star-rate-<%= @post.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('off-star.gif') %>",
                  starOn: "<%= asset_path('on-star.gif') %>",
                  starHalf: "<%= asset_path('half-star.gif') %>",
                  half: true,
                  readOnly: true,
                  score: <%= @post.rate %>
                });
              </script>
            </td>
            
            <td id="favorite_<%= @post.id %>"><%= render 'favorites/favorite', post: @post %></td>
            
            <% if @post.user_id == current_user.id %>
              <td><%= link_to "", edit_post_path(@post), class: "fas fa-pencil-alt" %></td>
              <td><%= link_to "", post_path(@post), method: :delete, remote: true, data: {confirm: "本当に消しますか？"}, class: "fas fa-trash-alt" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div id="comment">
        <%= render 'post_comments/comment', post: @post %>
      </div>
      <%= form_with(model:[@post, @post_comment]) do |f| %>
        <%= f.text_area :comment, size:"30x3" %><br>
        <div class="form-group">
          <input type="submit" value="&#xf27a; comments" class="fas btn btn-success">
        </div>
      <% end %>
    </div>
  </div>
</div>